
.Login{
    display: grid;
    place-items: center;
    height: 100vh;
}
.Login > div > img{
    object-fit: contain;
    height: 150px;
}

.Login>div{
    display: flex;
    flex-direction: column;
}

.Login button {
    width: 300px;
    background-color: #c6cacf;

    font-weight: 800;
}
.Login button:hover{
    color: white;
    background-color: rgb(14, 143, 248);
}
